/* Fondo */
body {
    background-image: url('imagenes/onepiecefondo2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* botón */
  #mostrar {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 20px;
  }
  
  /* Estilo cuando el mouse está sobre el botón */
  #mostrar:hover {
    background-color: #FF4136;
    transform: scale(1.05);
    cursor: pointer;
  }
  

  #mostrar:hover ~ #galeria {
    display: none;
  }
  

  .imagenes {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  }
  

  table {
    border-spacing: 20px;
  }